body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    background-color: black;
    color: white;
    text-align: center;
}
.btns {
    display: flex;
    flex-direction: row;
}
button {
    margin: 5px;
    font-size: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    border: solid white 1px;
    border-radius: 15px;
    box-shadow: 0 0px 0px 0px white ;
    transition-duration: 0.5s;
    font-weight: bold;
    padding-inline: 20px;
}
button:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0px 30px 5px white ;
}